@model List<MenuViewModel>

    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

        <ul class="navbar-nav flex-grow-1">

            @foreach (var item in Model)
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" href="@item.Url">@item.Title</a>
                </li>
            }


        </ul>

    </div>
